header {
  display: flex;
  flex-direction: column;
}

/*header_up star*/
.header_up {
  min-height: 60px;
  background-color: white;
  box-shadow: rgba(2, 2, 2, 2);
}

.header_menu_up {
  padding: 0;
  display: flex;
  font-family: initial;
  font-size: 16px;
  margin: 0;
  justify-content: center;
}

.menu_up_item {
  list-style: none;
  max-width: 330px;
  text-align: center;
  margin: auto;
}

.menu_up_item img {
  max-width: 100%;
}

.menu_up_item:nth-child(1),
.menu_up_item:nth-child(3) {
  padding-top: 30px;
}

.header_down {
  /*clarito-oscuro*/
  /*background-image: radial-gradient(circle, rgb(146, 196, 33), rgb(0, 155, 88));*/

  background-image: radial-gradient(circle, rgb(0, 189, 189), rgb(0, 124, 123));
  height: 5vmin;
  margin: 0;
  position: relative;
  text-align: center;
}

/*header_up end*/

.header_menu_down {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu_down_item {
  margin-right: 2em;
  line-height: 30px;
  color: black;
  text-align: center;
  font-family: bold;
  font-size: 16px;
}

@media screen and (max-width: 325px) {
  .header_up{
    min-height: 50px;
  } 

  .menu_up_item:nth-child(1),
  .menu_up_item:nth-child(3) {
    display:none;
  }

  .menu_up_item:nth-child(2){
    width: 60%;
  }

  .header_down{
    min-height: 35px;
  }

  .header_menu_down{
    justify-content: none;
    margin-left:0;
  }

  .menu_down_item{
    font-size: 1rem;
  }

  .menu_down_item:nth-child(2){
    display: none;
  }

}

@media screen and (min-width: 326px) and (max-width: 700px) {

  .header_up{
    min-height: 50px;
  } 
  
  .menu_up_item:nth-child(1),
  .menu_up_item:nth-child(3) {
    display:none;
  }

  .menu_up_item:nth-child(2){
    width: 75%;
  }

  .header_down{
    min-height: 35px;
  }

  .header_menu_down{
    justify-content: center;
    margin-left:0;
  }

  .menu_down_item{
    font-size: 14px;
  }

  .menu_down_item:nth-child(2){
    display: none;
  }
}
