<header>
    <div class="header_up">
        <ul class="header_menu_up">
            <li class="menu_up_item">info@correo.com</li>
            <li class="menu_up_item">
                <img src="./../../../assets/images/sucasalimpia_logo_h.png" alt="">
            </li>
            <li class="menu_up_item">Llamanos!</li>
        </ul>
    </div>
    <div class="header_down">
        <ul class="header_menu_down">
            <li class="menu_down_item">Inicio</li>
            <li class="menu_down_item">Nosotros</li>
            <li class="menu_down_item">Servicios</li>
            <li class="menu_down_item">Contacto</li>
            <li class="menu_down_item">Galeria</li>
        </ul>
    </div>
</header>