<div class="container">
    <app-navbar></app-navbar>
    <div class="head">
        <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
            <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
            <img nz-image width="200px" height="200px"
                nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png" alt="" />
        </ng-template>
    </div>

    <div class="statement">
        <h1>Servicios de limpieza</h1>
        <h2>Exelente servicio</h2>
    </div>

    <div class="description">
        <p class="description_parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium sequi quos
            tenetur ducimus officia? Temporibus, iure similique. Illum, ratione cupiditate ut, expedita harum debitis
            fuga
            doloribus voluptatum accusantium eaque quas?</p>
    </div>

    <div class="galery">
        <div nz-row nzJustify="center" class="contenedor_card_items">
            <div nz-col [nzSpan]="6" class="card">
                <nz-card nzTitle="Card title" class="card_item1">
                    <div class="card_contenido">
                        <img src="../../../assets/images/LimpiezaOzono.jpg" alt="" class="img_card">
                        <button nz-button nzType="primary" class="card_botom">Saber mas</button>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. repellat exercitationem possimus
                            asperiores lore delectus, cupiditate voluptates?</p>
                    </div>
                </nz-card>
            </div>
            <div nz-col [nzSpan]="6" class="card">
                <nz-card nzTitle="Card title" class="card_item2">
                    <div class="card_contenido">
                        <img src="../../../assets/images/LimpiezaChalets.jpg" alt="" class="img_card">
                        <button nz-button nzType="primary" class="card_botom">Saber mas</button>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. repellat exercitationem possimus
                            asperiores delectus, cupiditate voluptates?</p>
                    </div>
                </nz-card>
            </div>
            <div nz-col [nzSpan]="6" class="card">
                <nz-card nzTitle="Card title" class="card_item3">
                    <div class="card_contenido">
                        <img src="../../../assets/images/LimpiezaComunidades.jpg" alt="" class="img_card">
                        <button nz-button nzType="primary" class="card_botom">Saber mas</button>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. repellat exercitationem possimus
                            asperiores delectus, cupiditate voluptates?</p>
                    </div>
                </nz-card>
            </div>
            <div nz-col [nzSpan]="6" class="card">
                <nz-card nzTitle="Card title" class="card_item4">
                    <div class="card_contenido">
                        <img src="../../../assets/images/LimpiezaDiogenes.jpg" alt="" class="img_card">
                        <button nz-button nzType="primary" class="card_botom">Saber mas</button>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. repellat exercitationem possimus
                            asperiores delectus, cupiditate voluptates?</p>
                    </div>
                </nz-card>
            </div>
            <div nz-col [nzSpan]="6" class="card">
                <nz-card nzTitle="Card title" class="card_item5">
                    <div class="card_contenido">
                        <img src="../../../assets/images/LimpiezaFinObra.jpg" alt="" class="img_card">
                        <button nz-button nzType="primary" class="card_botom">Saber mas</button>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. repellat exercitationem possimus
                            asperiores delectus, cupiditate voluptates?</p>
                    </div>
                </nz-card>
            </div>
            <div nz-col [nzSpan]="6" class="card">
                <nz-card nzTitle="Card title" class="card_item6">
                    <div class="card_contenido">
                        <img src="../../../assets/images/LimpiezaNave.jpg" alt="" class="img_card">
                        <button nz-button nzType="primary" class="card_botom">Saber mas</button>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. repellat exercitationem possimus
                            asperiores delectus, cupiditate voluptates?</p>
                    </div>
                </nz-card>
            </div>
            <div nz-col [nzSpan]="6" class="card">
                <nz-card nzTitle="Card title" class="card_item7">
                    <div class="card_contenido">
                        <img src="../../../assets/images/LimpiezaTraumatica.jpg" alt="" class="img_card">
                        <button nz-button nzType="primary" class="card_botom">Saber mas</button>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. repellat exercitationem possimus
                            asperiores delectus, cupiditate voluptates?</p>
                    </div>
                </nz-card>
            </div>
            <div nz-col [nzSpan]="6" class="card">
                <nz-card nzTitle="Card title" class="card_item8">
                    <div class="card_contenido">
                        <img src="../../../assets/images/LimpiezaOzono.jpg" alt="" class="img_card">
                        <button nz-button nzType="primary" class="card_botom">Saber mas</button>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. repellat exercitationem possimus
                            asperiores delectus, cupiditate voluptates?</p>
                    </div>
                </nz-card>
            </div>
            <div nz-col [nzSpan]="6" class="card">
                <nz-card nzTitle="Card title" class="card_item9">
                    <div class="card_contenido">
                        <img src="../../../assets/images/LimpiezaTuristica.jpg" alt="" class="img_card">
                        <button nz-button nzType="primary" class="card_botom">Saber mas</button>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. repellat exercitationem possimus
                            asperiores delectus, cupiditate voluptates?</p>
                    </div>
                </nz-card>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>