/*start container*/
.container {
  margin: 20px 50px 0px 50px;
  display: flex;
  flex-direction: column;
}

/*start carrouse*/
.carrousel {
  margin: 2% 15% 2% 15%;
  max-width: 80%;
  height: 50vh;
  border: 1px solid rgb(0, 124, 123);
}

[nz-carousel-content] {
  text-align: center;
  background: #364d79;
  color: #fff;
  overflow: hidden;
  height: 100%;
}

.carrousel_img {
  background-image: url("../../../assets/images/LimpiezaFinObra.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/*end carrouse*/

/*start statement*/
.statement {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(circle, rgb(0, 189, 196));
}

.statement h1 {
  border-bottom: 1px solid black;
}

.statement h3 {
  color: #fff;
  margin-bottom: 0;
}
p {
  margin: 0;
}
/*end statement*/

/*Start card services*/
.proceso .card,
.contenedor_card_items .card {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #d2d2dc;
  border-radius: 11px;
  -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
  -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
  box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
}

.contenedor_card_items {
  padding: 25px;
  margin: 0;
  text-align: center;
}

.card {
  margin: 10px;
  max-width: 50vh;
  width: 500px;
}

.card_contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
}


[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
  background-image: radial-gradient(circle, rgb(0, 189, 189), rgb(0, 124, 123));
}

.card_botom {
  margin: 10px 0px 10px 0px;
}

::ng-deep .ant-card-head {
  min-height: 20px;
}

::ng-deep .ant-card-body {
  padding: 10px;
}

::ng-deep .ant-card-head-wrapper .ant-card-head-title {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  align-content: center;
  min-height: 22px;
}

.img_card{
  max-width: 70%;
}
/*end card services*/


/*Aqui empieza el proceso del servicio*/

.proceso {
  display: flex;
  flex-direction:column;
  margin-top: 1vmax;
  text-align: center;
  background-image: radial-gradient(circle, rgb(0, 189, 189), rgb(0, 124, 123));
  width: 100%;
}

.card_process {
  margin: 10px;
  /**/
  max-width: 40%;
}

.process_card_contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_proceso {
  max-width: 18%;
  padding: 5px;
}
/*end servicesProces*/

/*Response*/

@media screen and (max-width: 325px) {
  .container {
    margin: 3px;
  }

  /*Carrousel*/
  .carrousel {
    height: 25vh;
  }

  /*statament*/
  .statement h1 {
    font-size: 16px;
  }

  .statement h2 {
    font-size: 11px;
  }

  /*card*/
  .contenedor_card_items {
    padding-top: 0;
  }

  .card {
    min-width: 105px;
    min-height: 115px;
  }

  .card_item {
    max-height: 70px;
  }

  ::ng-deep .ant-card-head {
    min-height: 20px;
  }

  ::ng-deep .ant-card-body {
    padding: 10px;
  }

  ::ng-deep .ant-card-head-wrapper .ant-card-head-title {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    align-content: center;
    min-height: 22px;
    font-size: 12px;
  }

  .card_contenido button {
    max-width: 60px;
    max-height: 18px;
    font-size: 10px;
    padding: 0;
  }

  .card_contenido p {
    display: none;
  }
  /*end card services*/

  /*start process*/
  .proceso {
    margin: 0;
    margin-top: 1vmax;
    text-align: center;
    background-image: radial-gradient(circle, rgb(0, 189, 189), rgb(0, 124, 123));
  }
  
  .card_process {
    margin: 10px;
    /**/
    max-width: 8%;
  }
  
  .process_card_contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:max-content;
  }
  
  .img_proceso {
    max-width: 5%;
    padding: 5px;
  }
  /*end process*/
}

@media screen and (min-width: 326px) and (max-width: 700px) {
  .container {
    margin: 3px;
  }

  /*carousel*/
  .carrousel {
    height: 30vh;
  }

  /*statament*/
  .statement h1 {
    font-size: 20px;
  }

  .statement h2 {
    font-size: 16px;
  }

  /*card*/
  .contenedor_card_items {
    padding-top: 0;
  }

  .card {
    min-width: 37%;
    min-height: 27vmin;
  }

  .card_item {
    max-height: 70px;
  }

  ::ng-deep .ant-card-head {
    min-height: 20px;
  }

  ::ng-deep .ant-card-body {
    padding: 10px;
  }

  ::ng-deep .ant-card-head-wrapper .ant-card-head-title {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    align-content: center;
    min-height: 22px;
    font-size: 12px;
  }

  .card_contenido button {
    max-width: 60px;
    max-height: 18px;
    font-size: 10px;
    padding: 0;
  }

  .card_contenido p {
    display: none;
  }

  /*start_card*/
}

/*endResponse*/


.more_information {
  height: 10vmax;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
}

.more_information_botom {
  width: 30%;
}

/*,,,,,,,,,,,,,,,,,,,,,,,,,,*/


.nz-carousel-content2 {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

.testimonials {
  height: 160px;
  line-height: 160px;
  margin: 25px;
}

.testimonials_item {
  background-color: blue;
  margin: 5px;
  width: 50%;
}

/*
.testimonials .card {
  background-color: #fff;
  margin: 5px;
}
*/
.contenerdor_card_testimonials {
  margin-top: 5px;
  height: 10vh;
  line-height: 10vh;
}


